# Working directories
tmp
.notes
!.gitkeep
unzip_requirements.py

# Repository specific
deploy_settings.sh
deploy_private_settings.sh

# github-markdown-toc
README.md.orig*
README.md.toc*
gh-md-toc

# AWS SAM
.aws-sam

# IDEs
.idea
.vscode

# Mac OS X
.DS_Store

# Serverless framework
.serverless
.requirements.zip
node_modules/

# Python
.coverage
.Python
__pycache__/
*.py[cod]
*$py.class
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg
